/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  display: block;
  margin: 1rem auto 0 auto;
  width: 100%;
  max-width: $break-xsm;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include scale-element(hover, 1.1);
  @include scale-element(active, .9);

  &:hover {
    @include hover;
    background-color: $color-golden;
  }
}