/* ============================================= */
/*              Buttons                          */
/* ============================================= */

//DEFAULT BUTTON STYLE
.btn {
  display: block;
  margin: 1rem auto 0 auto;
  width: 95%;
  max-width: $break-xsm;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 0 8px $color-overlay-bg;

  @include scale-element(hover, 1.1);
  @include scale-element(active, .9);

  &:hover {
    @include hover;
    background-color: $color-golden;
    border: 1px solid #fff;
  }

  &.reset {
    background-color: rgb(77, 77, 77);
    color: #fff;
    border: 1px solid #fff;

    &:hover {
      background-color: $color-golden;
    }
  }
}

//GAME OVER BUTTON
#btn-game-over {
  background-color: $color-golden;
  border: 1px solid orange;
}