/* ============================================= */
/*              Container                        */
/* ============================================= */
br{
  margin-bottom: 1rem;
}

.best-score{
  margin: 0;
  font-size: 12px;
}

#gameboard{
  max-width: $break-xsm;
  width: 95%;
}

.game {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &-title {
    margin-bottom: 0;
    letter-spacing: 1px;
  }
}

.container {
  margin: auto;
  text-align: center;
}

.number {
  display: flex;
  justify-content: center;
  @include box-shadow(10px);
  #gameboard &{
    width: 64px;
  }
}

.random-number,
.user-guess {
  padding: 1.5rem;
  margin: .5rem auto;
  border-radius: 5px;
  font-size: 36px;
}

.users-guess {
  color: $color-secondary;
}

.random-number {
  color: $color-secondary;
  background-color: $color-golden;

}

#random-numbers {
  margin-bottom: 1rem;
}

#random-numbers,
#users-guesses {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// [class^=col] {
//   margin-top: 10px;
//   flex-basis: 100%;
//   min-height: 25px;
//   padding: 10px;
//   border-radius: 5px;

//   @include mq("lg") {
//     display: flex;
//     justify-content: center;
//     margin-top: 0;
//     align-items: center;

//     &+& {
//       margin-left: 10px;
//     }
//   }
// }