/* ============================================= */
/*              Game Board                       */
/* ============================================= */
* {
  outline: none;
  box-sizing: border-box;
}

br {
  margin-bottom: 1rem;
}

//GAME CONTAINER
#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

//GLOBAL SELECTORS
.container {
  margin: auto;
  text-align: center;
}

.number {
  display: flex;
  justify-content: center;
  @include box-shadow(10px);
}

//HEADER SECTION
.header {
  height: 120px;

  /* ----------- iPhone 6+/7+/8+ ----------- */
  /* Portrait */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    height: 90px;
  }

  & .game-title {
    margin: 1rem auto 0 auto;
    letter-spacing: 1px;
    color: #444;

    /* ----------- iPhone 6+/7+/8+ ----------- */
    /* Portrait */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
      margin-top: .75rem;
    }
  }

  & .best-score {
    margin: 0;
    font-size: 12px;
  }

  & .attempts-container h3 {
    margin: 8px;
  }

}

//GAME BOARD SECTION
#gameboard {
  max-width: $break-xsm;
  width: 95%;
  margin: .7rem auto;

  /* ----------- iPhone 6+/7+/8+ ----------- */
  /* Portrait */
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    margin: .7rem auto 0 auto;
  }

  & #random-numbers {
    margin-bottom: 1rem;

    & .card {
      position: relative;
      margin: auto;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: all .2s linear;

      &-face {
        position: absolute;
        left: -32px;
        backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        color: $color-orange;
      }

      & .front {
        transform: rotateY(180deg);
        box-shadow: 0 0 12px 1px $color-orange,
      }

      & .back {
        box-shadow: 0 0 12px 1px $color-orange, inset 0px 0px 0px 10px $color-orange;
      }
    }
  }

  & #players-guesses {
    margin-top: 7.5rem;

    /* ----------- iPhone 6+/7+/8+ ----------- */
    /* Portrait */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
      margin-top: 7rem;
    }
  }

  & #random-numbers,
  & #players-guesses {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & .random-number,
  & .player-guess {
    padding: 1.5rem;
    margin: .5rem auto;
    border-radius: 5px;
    font-size: 36px;
  }

  & .random-number {
    color: $color-overlay-bg;
    background-color: $color-golden;
  }

  & .player-guess {
    color: $color-overlay-bg;

    &.shrink {
      transform: scale(.8);
    }

    &.grow {
      transform: scale(1);
    }
  }

  & .number {
    transition: all .2s linear;
    width: 64px;
  }
}

//ANIMATIONS FOR CARDS & PLAYER GUESSES
.active {
  box-shadow: 0 0 15px 1px $color-orange;
}

.flip {
  transform: rotateY(180deg);
  box-shadow: 0 0 20px 3px $color-orange;
}