/* ============================================= */
/*              Keyboard                            */
/* ============================================= */

#keyboard { 
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
}

.keyboard {
  &-container {
    margin: auto;
  }

  &-number {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    border-radius: 3px;
    background-color: $color-primary;

    &:hover {
      box-shadow: 0 0 10px 1px $color-golden;
    }
  }

  &-header {
    font-size: 16px;
    letter-spacing: 1px;
  }
}