/* ============================================= */
/*              Keyboard                            */
/* ============================================= */

#keyboard {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.keyboard {
  &-container {
    align-self: flex-end;
  }

  &-number {
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    border-radius: 3px;
    background-color: $color-primary;
  }

  &-header{
    font-size: 16px;
    letter-spacing: 1px;
  }
}