/* ============================================= */
/*              Overlay                          */
/* ============================================= */

#overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
}

.overlay-content {
    &-container {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        text-align: center;
    }
}

.start-screen {
    font-size: 36px;
    margin-bottom: 2rem;
}

.difficulty {
    &-options {
        display: flex;
        flex-direction: column;
    }

    &-btn {
        background-color: #fff;
        border: none;
        padding: 5px;
        cursor: pointer;
        transition: .2s all ease-in;

        &::before,
        &::after {
            transition: .2s all ease-in;
            display: inline-block;
            content: "";
            border-top: 1px solid #444;
            width: 0;
            margin: 0 1rem;
            transform: translateY(-.4rem);
        }

        &:hover {
            color: #444;

            &::before,
            &::after {
                width: 4rem;
            }
        }
    }
}

.instructions {
    margin: 20rem auto 0 auto;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;

    & .txt-instructions {
        margin: 0 auto 5px auto;
        padding: 3px;
        cursor: pointer;
    }

    &-list {
        font-size: 12px;
        margin: auto;
        text-align: start;
        line-height: 1.5;
        max-width: 300px;
        width: 80%;
        transform: .2s linear all;
    }

}

.toggle-display {
    opacity: 0;
    display: none;
}

li {
    margin-bottom: 8px;
}

.txt {
    &-results {
        font-size: 48px;
        color: #fff;
        -webkit-text-stroke: 2px orange;
    }

    &-win {
        font-size: 48px;
    }

    &-wrong,
    &-win,
    &-lose {

        color: $color-golden;

    }

    &-correct {
        text-align: start;
        margin-left: 1rem;
        font-size: 24px;
        color: #fff;

        &-header {
            color: $color-golden;
        }

        &-container {
            display: flex;
            justify-content: center;
        }
    }
}