/* ============================================= */
/*              Overlay                          */
/* ============================================= */

#overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 10;
}

.overlay-content {
    &-container {
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        text-align: center;
    }
}

.start-screen {
    font-size: 36px;
    margin-bottom: 2rem;
}

.difficulty {
    &-options {
        display: flex;
        flex-direction: column;
    }

    &-btn {
        padding: 5px;
        cursor: pointer;
        transition: .2s all ease-in;

        &::before,
        &::after {
            transition: .2s all ease-in;
            display: inline-block;
            content: "";
            border-top: 1px solid #444;
            width: 0;
            margin: 0 1rem;
            transform: translateY(-.4rem);
        }

        &:hover {
            color: #444;

            &::before,
            &::after {
                width: 4rem;
            }
        }
    }
}

.txt {
    &-results {
        color: #fff;
    }

    &-correct {
        text-align: start;
        margin-left: 1rem;

        &-container {
            display: flex;
            justify-content: center;
        }
    }
}