.table {
    display: flex;
    flex-direction: column;

    // &-titles-container, .attempts-container{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-evenly;
    // }
    &-titles-container {
        margin-bottom: 8px;
    }

    &-title {
        font-size: 14px;
        height: 16px;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}

td {
    height: 16px;
}

.attempt {
    font-size: 12px;
    letter-spacing: 1px;
}