/* ============================================= */
/*              Tables                           */
/* ============================================= */

//HISTORY TABLE
.table {
    display: flex;
    flex-direction: column;

    & td {
        height: 16px;
    }

    &-titles-container {
        margin-bottom: 8px;
    }

    &-title {
        font-size: 14px;
        height: 16px;
        padding-left: 1rem;
        padding-right: 1rem;

    }
}



.attempt {
    font-size: 12px;
    letter-spacing: 1px;
}