/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
  font-family: $font-primary;
  box-sizing: border-box;
  color: $color-overlay-bg;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}