/* ============================================= */
/*              Keyframes                        */
/* ============================================= */

.hide {
    opacity: 0;
}

.animated {
    animation-duration: .8s;
    animation-fill-mode: both;
    -webkit-animation-duration: .8s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

/* ============================================= */
/*              Timer                        */
/* ============================================= */

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 250px;
    max-height: 250px;
}

.progress-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 4;
}

.progress {
    fill: none;
    stroke: red;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 5s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}