/* ============================================= */
/*              Animations & Keyframes           */
/* ============================================= */

.hide {
    opacity: 0;
}

.animated {
    animation-duration: .8s;
    animation-fill-mode: both;
    -webkit-animation-duration: .8s;
    -webkit-animation-fill-mode: both
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.moveUp {
    animation: moveUp .3s ease-out;
    -webkit-animation: moveUp .3s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

//ANIMATION FOR ELEMENTS TO FADE IN
@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

//ANIMATION FOR TIMER
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

@-webkit-keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}