@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@mixin mq($break) {
  @if $break=="lg" {

    @media (min-width: $break-lg) {
      @content;
    }
  }
}

@mixin hover($color) {
  background-color: hovering($color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}