/* ============================================= */
/*              Mixins                           */
/* ============================================= */

@mixin box-shadow($px) {
  box-shadow: 0 0 $px $color-overlay-bg;
}

@mixin hover {
  color: #444;
  box-shadow: 0 0 10px 1px $color-golden;
  cursor: pointer;
  transition: all 0.2s linear;
}

@mixin scale-element($el, $scale) {
  &:#{$el} {
    transform: scale($scale);
  }
}