/* ============================================= */
/*                  Colors                       */
/* ============================================= */

//GLOBAL COLORS
$color-overlay-bg: #777;
$color-golden: rgb(255, 206, 82);
$color-orange: orange;
$color-progress: #e4757a;
$color-win: rgba(159, 230, 159, .8);
$color-wrong: rgba(228, 117, 122, .8);

/* ============================================= */
/*                     Font                      */
/* ============================================= */

//PRIMARY FONT FAMILY
$font-primary: 'Lato',
sans-serif;

/* ============================================= */
/*               Media Queries                   */
/* ============================================= */

$break-xsm: 375px;